.article {
  width: 100%;
  background-color: $backgroundBase;
  border-radius: 5px;
  box-shadow: $shadow2;
  padding: 15px;
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: max-content auto;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  
  &-header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }

  &-favorites {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }

  &-title {
    color: $infoColor;
    font-size: $fzHeader5;
    line-height: $fzHeader5;
    margin-bottom: 5px;
  }

  &-tags {
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: 5px;
    gap: 8px;
    flex-wrap: wrap;
  }

  &-tag {
    border: 1px solid $textColorSecondary;
    border-radius: 2px;
    color: $textColorSecondary;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    font-size: $fzSmall;
  }

  &-text {
    font-size: $fzSmall;
    color: $textColor;
  }

  &-body {
    grid-column: 1 / 3;
    overflow: hidden;
    font-size: $fzHeader6;
    line-height: $lhHeader6;
  }
}