.article {
  width: 100%;
  max-width: 938px;
  margin: 0 auto;
  background-color: $backgroundBase;
  border-radius: 5px;
  box-shadow: $shadow2;
  padding: 15px;
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: max-content auto;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  
  &-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
  }

  &-favorites {
    display: flex;
    align-items: center;
    background-color: $backgroundBase;
    gap: 5px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }

  &-title {
    color: $infoColor;
    font-size: $fzHeader5;
    line-height: $fzHeader5;
  }

  &-tags {
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-bottom: 5px;
    gap: 8px;
    flex-wrap: wrap;
  }

  &-tag {
    border: 1px solid $textColorSecondary;
    border-radius: 2px;
    color: $textColorSecondary;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    font-size: $fzSmall;
  }

  &-text {
    font-size: $fzSmall;
    color: $textColor;
  }

  &-body {
    grid-column: 1 / 3;
    overflow: hidden;
    font-size: $fzHeader6;
    line-height: $lhHeader6;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: relative;
    flex-wrap: wrap;
  }

  &-error {
    flex: 0 0 100%;
    width: 100%;
    text-align: right;
    display: block;
  }

  &-popup {
    position: absolute;
    right: calc(100% + 10px);
  }

  &-delete,
  &-edit {
    height: 31px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: $backgroundBase;
    width: fit-content;
  }

  &-delete {
    color: $errorColor;
    border: 1px solid $errorColor;
  }

  &-edit {
    color: $successColor;
    border: 1px solid $successColor;
  }
}